
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="alert " role="alert" style="background-color:white;color:white;border:solid;color:blue;text-align:center;">
        <h1>Congregation Kollel Lomdei Shas</h1>
        <h3>6 Demarest Road</h3>
        <h3>Spring Valley, NY 10977</h3>
        <h3>P:  845-426-1817</h3>
        <h3>F:  845-426-1819</h3>
        <h3>congregationkls@gmail.com</h3>
    </div>
    </div>
