@using KollelRaffleWeb.Data


<div class="container">
    <img src="~/images/updated first page.JPG" />
    <div class="row col-md-8">
        <a class="btn col-md-offset-2" style="background-color:blue; color:white; width:275px;" href="/home/Enter">Enter Raffle</a>
        <a class="btn" style="background-color:blue; color:white; width:275px;" href="/home/About">About</a>
    </div>

</div>


