<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KollelRaffleWeb.Data.Properties.Settings.KLSConnectionString"
            connectionString="Data Source=.\MSSMLBIZ;Initial Catalog=KLS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>